{% block main %}
    <div class="all_categories">
        <div class="sub_category">
            <a class="category pdf_to_audio" href="/uploadfile/pdf_to_audio">
                <span>PDF to Audio</span>
            </a>
        </div>
        <div class="sub_category">
            <a class="category pdf_to_text" href="/uploadfile/pdf_to_text">
                <span>PDF to Text</span>
            </a>
        </div>
        <div class="sub_category">
            <a class="category text_to_audio" href="/uploadfile/text_to_audio">
                <span>Text to Audio</span>
            </a>
        </div>
        <div class="sub_category">
            <a class="category image_to_pdf" href="/uploadfile/image_to_pdf">
                <span>Image to PDF</span>
            </a>
        </div>
        <div class="sub_category">
            <a class="category pdf_to_word" href="/uploadfile/pdf_to_word">
                <span>PDF to Word</span>
            </a>
        </div>
        <div class="sub_category">
            <a class="category text_to_pdf" href="/uploadfile/text_to_pdf">
                <span>Text to PDF</span>
            </a>
        </div>
        <div class="sub_category">
            <a class="category merge_pdf" href="/uploadfile/merge_pdf">
                <span>Merge PDF</span>
            </a>
        </div>
        <div class="sub_category">
            <a class="category split_pdf" href="/uploadfile/split_pdf">
                <span>Split PDF</span>
            </a>
        </div>
        <div class="sub_category">
            <a class="category protect_pdf" href="/uploadfile/protect_pdf">
                <span>Protect PDF</span>
            </a>
        </div>
        <div class="sub_category">
            <a class="category extract_images" href="/uploadfile/extract_images">
                <span>Extract Images</span>
            </a>
        </div>
        <div class="sub_category">
            <a class="category extract_image_text" href="/uploadfile/extract_images_text">
                <span>Extract Images & Text</span>
            </a>
        </div>
        <div class="sub_category">
            <a class="category unlock_pdf" href="/uploadfile/unlock_pdf">
                <span>Unlock PDF</span>
            </a>
        </div>
        <div class="sub_category">
            <a class="category word_to_pdf" href="/uploadfile/word_to_pdf">
                <span>Word to PDF</span>
            </a>
        </div>
        <div class="sub_category">
            <a class="category pdf_to_image" href="/uploadfile/pdf_to_image">
                <span>PDF to Image</span>
            </a>
        </div>
    </div>
{% endblock %}        
        